*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: 100%;
    width: 100%;
}
/*Navigation*/
#navigation{
    height: 90px;
    width: 100%;
    position: fixed;
    top: -95px;
    z-index: 3;
    background-color: white;
    transition: top 1s linear 0s;
    box-shadow: 4px 0px 10px 4px black;
}
#nlogo{
    z-index: 2;
    filter: saturate(1.5);
    height: 70px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255); 
    justify-self: center; 
}
#navul{
    float: right;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    margin-right: 30px;
}
.navulli{
    padding: 0px 20px;
    list-style: none;
}
.navulli a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(3 136 43);
    font-weight: bold;
}
.navulli a:hover{
    color: rgb(0, 0, 0);
}
.navulli a h1{
    font-size: 1.5rem;
    font-weight: bold;
}
#bars{
    color: rgb(0, 114, 34); 
    margin-right:30px ; 
    display: none;
}
#bars:hover{
    color: rgb(87, 34, 33);
    zoom: 1.1;     
}
/*Secnav*/
#secnav{
    z-index: 2;
    width: 250px;
    background-color: white;
    justify-content: center;
    position: fixed;
    top: 90px;
    bottom: 0;
    transition: right 1s linear  0s;
}
#secnavul{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.secnavulli{
    width: 90%;
    padding: 10px 0px;
    list-style: none;
    text-align: center;
    border-bottom: 2px solid rgb(81, 185, 245);
}
.secnavulli a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(3 136 43);
    font-weight: bold;
}
.secnavulli a:hover{
    color: rgb(0, 61, 97);
    zoom: 1.05;
}
.secnavulli a h1{
    font-size: 1.5rem;
    font-weight: bold;
}

/*section*/
section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/*First*/
#intro{
background-image: url("tea.jpg");
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
#intro::after{
    content: "";
    background-color: rgba(255, 209, 81, 0.596);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#intro h3{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    z-index: 1;
    margin-top: 10px;
}
#a1{
    color:rgb(255, 38, 0);
}
#a3{
    color:rgb(12, 110, 3);
}
#inlogo{
    height: 200px;
    z-index: 1;
}
#explorekey{
    z-index: 1;
    position:absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#explorekey h5{
    padding: 5px;
    font-size: 1.5rem;
}
#key{
    height: 40px;
    width: 40px;
    border:2px solid rgb(255, 255, 255) ;
    border-radius: 50%;
    background-color: rgba(6, 114, 72, 0.534);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#key:hover{
    zoom: 1.05;
}
/*Second*/
#introabout{
    background-image: url("tea2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
#introabout::after{
        content: "";
        background-color: rgba(0, 104, 47, 0.329);
        position: absolute;
        top: 100vh;
        bottom: -100vh;
        left: 0vh;
        right: 0vh;
 }
 #introabout h1{
    position: relative;
    color: white;
    font-size: 4rem;
    z-index: 1;
    padding: 5px 20px;
    border-radius: 10px;
}
#introabout h3{
    position: relative;
    color: white;
    font-size: 2rem;
    z-index: 1;
    margin-top: 10px;
}
#introabout p{
        color: antiquewhite;
        font-size: 1.5rem;
        padding: 0px 50px;
        position: relative;
        z-index: 1;
        margin-top: 10px;
        text-align: justify;
}
#aboutmore{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
    margin-top: 10px;
    font-weight: bold;
    background-color: rgb(87, 34, 33);
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 1px 1px rgb(0, 0, 0);
}
#aboutmore:hover{
   zoom: 1.05;
}
/*Third*/
#introfranchise{
        background-image: url("tea3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
#introfranchise::after{
    content: "";
    background-color: rgba(179, 143, 23, 0.493);
    position: absolute;
    top: 200vh;
    bottom: -200vh;
    left: 0vh;
    right: 0vh;
}
#frlogo{
    height: 300px;
    z-index: 1;
}
#introfranchise h3{
    position: relative;
    color: rgb(87, 34, 33);
    font-size: 2rem;
    z-index: 1;
    margin-top: 20px;
}
#introfranchise h2{
    position: relative;
    color: rgb(0, 114, 34);
    font-size: 3rem;
    z-index: 1;
    margin-top: 10px;
    text-shadow: 1.5px 1.5px 2px black;
}
#franchisemore{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    margin-top: 15px;
    z-index: 1;
    font-weight: bold;
    background-color: rgb(0, 114, 34);
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 1px 1px rgb(0, 0, 0);
}
#franchisemore:hover{
   zoom: 1.05;
}
/*Footer*/
footer{
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: rgba(30, 95, 50, 0.315);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 0px;
    border-top: 6px solid rgb(255, 255, 255);
}
footer h4{
    font-size: 1.5rem;
    color: rgb(10, 66, 114);
}
.social{
    position: relative;
   text-align: center;
   margin-top: 8px;
   margin-bottom: 8px;
}
.social a i{
    height: 40px;
    width: 40px;
    background-color: white;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.65);
}
.social a i:hover{
    height: 42px;
    width: 42px;
}
/*--------------------------------------------About us page-------------------------------------------*/
#about{
    background-image: url("tea5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
#about::after{
        content: "";
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0vh;
        bottom: 0vh;
        left: 0vh;
        right: 0vh;
 }
#about h2{
    position: relative;
    left: 80px;
    color: rgb(179, 240, 255);
    font-size: 3rem;
    z-index: 1;
    margin-top: 10px;
    text-shadow: 1.5px 1.5px 2px black;
    border-bottom: 2px solid white;
    padding: 10px;
    width: 80vw;
}
#about p{
    position: relative;
    left: 80px;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    z-index: 1;
    margin-top: 20px;
    font-family: serif;
    width: 80vw;
    text-align: justify;
}
/*--------------------------------------------Franchise page-------------------------------------------*/
#franchise{
    background-image: url("tea6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
#franchise::after{
        content: "";
        background-color: rgba(255, 247, 132, 0.568);
        position: absolute;
        top: 0vh;
        bottom: 0vh;
        left: 0vh;
        right: 0vh;
 }
#franchise h2{
    position: relative;
    color: rgb(19 108 53);
    font-size: 2.75rem;
    z-index: 1;
    margin-top: 10px;
    border-bottom: 3px solid rgb(165 98 40);
    padding: 10px;
    width: 90vw;
    text-align: center;
}
#franchise .logo{
    z-index: 1;
    height: 200px;
    margin-top: 15px;  
}
#franchise h3{
    position: relative;
    font-size: 2.3rem;
    color: rgb(84 33 37);
    margin-top: 10px;
    z-index: 1;
   border-bottom: 2px solid #000;
   text-align: center;
}
#franchise p{
    z-index: 1;
    text-align: justify;
    font-size: 1.5rem;
    width: 80vw;
    padding: 20px 0px 10px ;
    color: #000;
}
#franchise h5{
    position: relative;
    font-size: 2rem;
    color: rgb(0, 143, 153);
    margin-top: 10px;
    z-index: 1;
   border-bottom: 2px solid #000;
}
#franchise ul{
    z-index: 1;
}
#franchise ul li{
    z-index: 1;
    text-align: justify;
    font-size: 1.5rem;
    width: 80vw;
    padding: 20px 0px 10px ;
    color: #000;
    list-style: square;
}
#franchise .files{
    z-index: 1;
    width: 50vw;
}

/*--------------------------------------------------------------------------------------------------*/
/*Media Query*/
@media screen and (max-width:900px){
    #inlogo, #frlogo{
        height: 22vw;
      }
      #intro h3, #introabout h3, #introfranchise h3{
        font-size: 3vw;
    }
    #introabout h1{
        font-size: 5vw;
    }
    #introabout p{
        font-size: 2.5vw;
        padding: 0px 20px;
    }
    #introabout{
        padding-top: 5vw;
    }
    #introfranchise h2{
        margin-top: 5px;
        font-size: 6vw;
        text-shadow: 0.18vw 0.18vw 0.18vw black;
    }
    /*--------------------------------------------About us page-------------------------------------------*/
    #about h2, #about p{
        width: 90vw;
        left: 5vw;
    }
    /*--------------------------------------------Franchise page-------------------------------------------*/
    #franchise{
        background-image: url("tea7.jpg");
    }
    #franchise h2{
        font-size: 5vw;
    }
    #franchise h3{
        font-size: 4.2vw;
    }
    #franchise p, #franchise ul li{
        font-size: 3vw;
    }
    #franchise h5{
        font-size: 3.4vw;
    }
}
@media screen and (max-width:750px){
    #inlogo, #frlogo{
      height: 25vw;
    }
    .navulli{
        display: none;
    }
    #bars{
        display: block; 
    }
    #intro h3, #introabout h3, #introfranchise h3{
        font-size: 3.5vw;
    }
    #intro{
        background-image: url(tea4.jpg);
    }
    #introabout h1{
        font-size: 7vw;
    }
    #introabout p{
        font-size: 3vw;
        padding: 0px 10px;
    }
    #aboutmore, #franchisemore{
        font-size: 3vw;
        box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
    }
    #introfranchise h2{
        font-size: 7vw;
        text-shadow: 0.18vh 0.18vh 0.18vh black;
    }
    /*--------------------------------------------Franchise page-------------------------------------------*/
    #franchise h2{
        font-size: 6vw;
    }
    #franchise .logo{
        height: 30vw;  
    }
    #franchise h3{
        font-size: 5vw;
    }
    #franchise p, #franchise ul li{
        font-size: 3.6vw;
        padding: 10px 0px 10px ;
    }
    #franchise h5{
        font-size: 4.2vw;
    }
    #franchise .files{
        width: 70vw;
    }
}
@media screen and (max-width:500px){
    #inlogo, #frlogo{
        height: 28vw;
      }
      #intro h3, #introabout h3, #introfranchise h3{
          font-size: 4vw;
      }
      #introabout h1{
        font-size: 7.5vw;
    }
    #introabout p{
        font-size: 3.75vw;
        padding: 0px 10px;
    }
    #aboutmore, #franchisemore{
        font-size: 3.25vw;
    }
    #introfranchise h2{
        font-size: 8vw;
        text-shadow: 0.18vh 0.18vh 0.18vh black;
    }
    
    /*--------------------------------------------About us page-------------------------------------------*/
    #about h2{
     width: 90vw;
     left: 3vh;
     font-size: 10vw;
    } 
    #about p{
        width: 95vw;
        left: 3vw;
        padding: 0px 20px 5vw;
        font-size: 7vw;
    }
    /*--------------------------------------------Franchise page-------------------------------------------*/
    #franchise{
        background-image: url("tea8.jpg");
    }
    #franchise h2{
        font-size: 7vw;
    }
    #franchise .logo{
        height: 35vw;  
    }
    #franchise h3{
        font-size: 5.8vw;
    }
    #franchise p, #franchise ul li{
        font-size: 4.3vw;
    }
    #franchise h5{
        font-size: 5vw;
    }
    #franchise .files{
        width: 95vw;
    }
}
@media screen and (max-width:400px){
    #nlogo{
        margin-left: 10px;
    }
    #navul {
        margin-right: 10px;
    }
    #intro h3 b{
        display: block;
    }
    #inlogo, #frlogo{
        height: 34vw;
    }
    #intro h3, #introabout h3, #introfranchise h3{
          font-size: 4.9vw;
    }
    #introabout h1{
        font-size: 8vw;
    }
    #introabout p{
        font-size: 4.5vw;
        padding: 0px 10px;
    }
    #aboutmore, #franchisemore{
        font-size: 3.5vw;
    }
    #introfranchise h2{
        font-size: 8.5vw;
        text-shadow: 0.18vh 0.18vh 0.18vh black;
    }
    /*--------------------------------------------Franchise page-------------------------------------------*/
    #franchise h2{
        font-size: 7.5vw;
    }
    #franchise .logo{
        height: 38vw;  
    }
    #franchise h3{
        font-size: 6.2vw;
    }
    #franchise p, #franchise ul li{
        font-size: 5vw;
    }
    #franchise h5{
        font-size: 5.5vw;
    }
}
@media screen and (max-width:275px){

    #introabout h1{
        font-size: 7vw;
    }
    #introabout p{
        font-size: 4.5vw;
        padding: 0px 5px;
    }
    #aboutmore{
       margin-top: 5px;
    }
    #explorekey{
        bottom: 5px;
    }
    #explorekey h5{
        padding: 5px;
        font-size: 1rem;
    }
    #key{
        height: 30px;
        width: 30px;
    }
}

/*-----------for landscape mode-------------*/


