*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --color1 :rgb(0, 114, 34);
    --color2 :rgb(87, 34, 33);
    --color3 :rgb(255, 245, 199);
}
body{
    height: 100vh;
    width: 100vw;
}
body::after{
    content: "";
    background-color: rgba(179, 143, 23, 0.4);
    position: fixed;
    background-attachment: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/*Navigation*/
#navigation{
    height: 90px;
    width: 100%;
    position: fixed;
    top: -95px;
    z-index: 3;
    background-color: var(--color3);
    transition: top 1s linear 0s;
    box-shadow: 4px 0px 10px 4px black;
}
#nlogo{
    z-index: 2;
    filter: saturate(1.5);
    height: 70px;
    margin-left: 50px;
    margin-top: 10px;
    justify-self: center; 
}
#navul{
    float: right;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    margin-right: 30px;
}
.navulli{
    padding: 0px 20px;
    list-style: none;
}
.navulli a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color1);
    font-weight: bold;
}
.navulli a:hover{
    color: var(--color2);
    zoom:1.05 ;
}

.navulli a h1{
    font-size: 1.5rem;
    font-weight: bold;
}
#bars{
    color: var(--color1); 
    margin-right:30px ; 
    display: none;
}
#bars:hover{
    color: var(--color2);
    zoom: 1.05;     
}
/*Secnav*/
#secnav{
    z-index: 2;
    width: 220px;
    background-color: var(--color3);
    justify-content: center;
    position: fixed;
    top: 90px;
    bottom: 0;
    transition: right 1s linear  0s;
    box-shadow: 0px -2px 8px 1px rgba(0, 0, 0, 0.726);
}
#secnavul{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.secnavulli{
    width: 90%;
    padding: 10px 0px;
    list-style: none;
    text-align: center;
    border-bottom: 2px solid var(--color2);
}
.secnavulli a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color1);
    font-weight: bold;
}
.secnavulli a:hover{
    color: var(--color2);
    zoom: 1.05;
}
.secnavulli a h1{
    font-size: 1.5rem;
    font-weight: bold;
}
/*section*/
section{
    width: 100%;
    min-height: 100%;
    max-height:fit-content;
    overflow: hidden;
    padding: 10px 0px;
    z-index: 1;
}
/*First*/
#intro{
background-image: url("images/tea.jpg");
background-repeat: no-repeat;
background-position: fixed;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow: hidden;
}
#intro h3{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    z-index: 1;
    margin-top: 10px;
}
#a1{
    color:rgb(255, 38, 0);
}
#a3{
    color:rgb(12, 110, 3);
}
#inlogo{
    height: 250px;
    z-index: 1;
}
#explorekey{
    z-index: 1;
    position:absolute;
    left: 10vw;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#explorekey h5,#callkey h5{
    padding: 5px;
    font-size: 1.5rem;
}
#key,#call{
    height: 40px;
    width: 40px;
    border:4px solid rgb(255, 255, 255) ;
    border-radius: 50%;
    background-color: rgba(6, 114, 72, 0.534);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#key:hover,#call:hover{
    zoom: 1.05;
}
#callkey{
    z-index: 1;
    position:absolute;
    right: 10vw;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#call{
    background-color: rgb(255, 255, 255);
}
/*Second*/
#introabout{
    background-image: url("images/tea2.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 60px;
    border-top: 8px solid rgb(255, 255, 255);
}
 #introabout h1{
    position: relative;
    color: rgb(255, 244, 182);
    font-size: 4.5rem;
    z-index: 1;
    padding: 5px 20px;
    border-bottom: 2px solid rgb(255, 244, 182);

}
#introabout h3{
    position: relative;
    color: rgb(174, 239, 255);
    font-size: 2.3rem;
    z-index: 1;
    margin-top: 10px;
}
#introabout p{
        color: rgb(255, 255, 255);
        font-size: 1.8rem;
        padding: 30px 50px;
        position: relative;
        z-index: 1;
        margin-top: 10px;
        text-align: justify;
}
#aboutmore{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(174, 239, 255);
    z-index: 1;
    margin-top: 15px;
    font-weight: bold;
    background-color: var(--color2);
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 1px 1px rgb(0, 0, 0);
}
#aboutmore:hover{
   zoom: 1.05;
}
/*Third*/
#introfranchise{
        background-image: url("images/tea3.jpg");
        background-repeat: no-repeat;
        background-position: fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-top: 8px solid rgb(255, 255, 255);
}
#frlogo{
    height: 350px;
    z-index: 1;
    filter: saturate(1.8);
}
#introfranchise h3{
    position: relative;
    color: var(--color2);
    font-size: 2.3rem;
    z-index: 1;
    margin-top: 15px;
}
#introfranchise h2{
    position: relative;
    color: var(--color1);
    font-size: 3.5rem;
    z-index: 1;
    margin-top: 10px;
    text-shadow: 2px 2px 2px black;
}
#franchisemore{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    margin-top: 15px;
    z-index: 1;
    font-weight: bold;
    background-color: var(--color1);
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 1px 1px rgb(0, 0, 0);
}
#franchisemore:hover{
   zoom: 1.05;
}
/*Footer*/
footer{
    height: 110px;
    width: 100%;
    z-index: 1;
    position: relative;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:60px 0px;
    border-top: 8px solid rgb(255, 255, 255);
}
footer h4{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.social{
   position: relative;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 8px;
}
.social a i{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.65);
}
.social a i:hover{
   zoom: 1.1;
}
/*--------------------------------------------About us page-------------------------------------------*/
#about{
    background-image: url("images/tea5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}
#about::after{
        content: "";
        background: rgba(0, 0, 0, 0.7);
        background-attachment: fixed;
        position: fixed;
        top: 0vh;
        bottom: 0vh;
        left: 0vh;
        right: 0vh;
 }
 #about section{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
    overflow-x: hidden;
    height:fit-content ;
}
#about h2{
    position: relative;
    left: 80px;
    color: rgb(179, 240, 255);
    font-size: 3rem;
    z-index: 1;
    margin-top: 10px;
    text-shadow: 1.5px 1.5px 2px black;
    border-bottom: 2px solid white;
    padding: 10px;
    width: 80vw;
}
#about p{
    position: relative;
    left: 80px;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    z-index: 1;
    margin-top: 20px;
    font-family: serif;
    width: 80vw;
    text-align: justify;
}
/*--------------------------------------------Franchise page-------------------------------------------*/
#franchise{
    background-image: url("images/tea6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}
#franchise::after{
        content: "";
        background-color: rgba(255, 247, 132, 0.568);
        background-attachment: fixed;
        position: fixed;
        top: 0vh;
        bottom: 0vh;
        left: 0vh;
        right: 0vh;
 }
 #franchise section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    overflow-x: hidden;
    width: 100%;
    height:fit-content;
}
#franchise h2{
    position: relative;
    color: rgb(19 108 53);
    font-size: 2.75rem;
    z-index: 1;
    margin-top: 10px;
    border-bottom: 3px solid rgb(165 98 40);
    padding: 10px;
    width: 90vw;
    text-align: center;
    
}
#franchise .logo{
    z-index: 1;
    height: 200px;
    margin-top: 15px;  
}
#franchise h3{
    position: relative;
    font-size: 2.3rem;
    color: rgb(84 33 37);
    margin-top: 10px;
    z-index: 1;
   border-bottom: 2px solid #000;
   text-align: center;
}
#franchise p{
    z-index: 1;
    text-align: justify;
    font-size: 1.5rem;
    width: 80vw;
    padding: 20px 0px 10px ;
    color: #000;
}
#franchise h5{
    position: relative;
    font-size: 2rem;
    color: rgb(0, 143, 153);
    margin-top: 10px;
    z-index: 1;
   border-bottom: 2px solid #000;
}
#franchise section ul{
    z-index: 1;
}
#franchise section ul li{
    z-index: 1;
    text-align: justify;
    font-size: 1.5rem;
    width: 80vw;
    padding: 20px 0px 10px ;
    color: #000;
    list-style: square;
}
#franchise .files{
    z-index: 1;
    width: 50vw;
}
/*--------------------------------------------Contact page-------------------------------------------*/
#contact{
    background-image: url("images/tea12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}
#contact::after{
        content: "";
        background-color: rgba(0, 78, 102, 0.621);
        background-attachment: fixed;
        position: fixed;
        top: 0vh;
        bottom: 0vh;
        left: 0vh;
        right: 0vh;
 }
 #contact section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    overflow-x: hidden;
    width: 100%;
    height:fit-content;
    z-index: 1;
    position: relative;
}
#contact p{
    font-size: 2rem;
    color: aliceblue;
    width: 80vw;
    margin-top: 20px;
}
#contact h3{
    font-size: 2.5rem;
    color: rgb(255, 199, 79);
    border-bottom: 2px solid rgb(255, 199, 79);
    padding-top: 10px;
}
#contact h2{
    font-size: 3rem;
    color: rgb(32, 248, 255);
    border-bottom: 2px solid rgb(32, 248, 255);
    padding-top: 10px;
}
#contact h4{
    font-size: 2.25rem;
    color: rgb(240, 255, 29);
    border-bottom: 2px solid rgb(240, 255, 29);
    padding-top: 10px;
}

/*----------------------------------------------Media Query----------------------------------------------------*/

@media screen and (max-width:900px){
    #inlogo{
        height: 28vw;
      }
      #frlogo{
        height: 38vw;
      }
      #intro h3, #introabout h3, #introfranchise h3{
        font-size: 4.2vw;
    }
    #introabout h1{
        font-size: 8vw;
    }
    #introabout p{
        font-size: 3vw;
        padding: 0px 30px;
    }
    #introabout{
        padding-top: 5vw;
    }
    #introfranchise h2{
        margin-top: 5px;
        font-size: 6.2vw;
        text-shadow: 0.18vw 0.18vw 0.18vw black;
    }
    /*--------------------------------------------About us page-------------------------------------------*/
    #about h2, #about p{
        width: 90vw;
        left: 5vw;
    }
    /*--------------------------------------------Franchise page-------------------------------------------*/
    #franchise{
        background-image: url("images/tea7.jpg");
    }
    #franchise h2{
        font-size: 5vw;
    }
    #franchise h3{
        font-size: 4.2vw;
    }
    #franchise p, #franchise section ul li{
        font-size: 3vw;
    }
    #franchise h5{
        font-size: 3.4vw;
    }
}
@media screen and (max-width:750px){
    #inlogo{
      height: 32vw;
    }
    .navulli{
        display: none;
    }
    #bars{
        display: block; 
    }
    #intro{
        background-image: url(images/tea4.jpg);
    }
    #introabout p{
        font-size: 3.5vw;
        padding: 20px 6vw;
    }
    #aboutmore, #franchisemore{
        font-size: 3vw;
        box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
    }
    #introfranchise h2{
        font-size: 7vw;
        text-shadow: 0.18vh 0.18vh 0.18vh black;
    }
    /*--------------------------------------------Franchise page-------------------------------------------*/
    #franchise h2{
        font-size: 6vw;
    }
    #franchise .logo{
        height: 30vw;  
    }
    #franchise h3{
        font-size: 5vw;
    }
    #franchise p, #franchise section ul li{
        font-size: 3.6vw;
        padding: 10px 0px 10px ;
    }
    #franchise h5{
        font-size: 4.2vw;
    }
    #franchise .files{
        width: 70vw;
    }
    /*--------------------------------------------Contact page-------------------------------------------*/
 #contact{
    background-image: url("images/tea13.jpg");
}
}
@media screen and (max-width:500px){
    #inlogo{
        height: 37vw;
      }
      #frlogo{
        height: 40vw;
      }
      #intro h3 b{
        display: block;
    }
      #intro h3, #introabout h3, #introfranchise h3{
          font-size: 6vw;
      }
      #introabout h1{
        font-size: 8.5vw;
    }
    #introabout p{
        font-size: 4.5vw;
    }
    #aboutmore, #franchisemore{
        font-size: 4.35vw;
    }
    #introfranchise h2{
        font-size: 8vw;
        text-shadow: 0.18vh 0.18vh 0.18vh black;
    }
    
    /*--------------------------------------------About us page-------------------------------------------*/
    #about h2{
     width: 90vw;
     left: 3vh;
     font-size: 10vw;
    } 
    #about p{
        width: 95vw;
        left: 3vw;
        padding: 0px 20px 5vw;
        font-size: 7vw;
    }
    /*--------------------------------------------Franchise page-------------------------------------------*/
    #franchise{
        background-image: url("images/tea8.jpg");
    }
    #franchise h2{
        font-size: 7vw;
    }
    #franchise .logo{
        height: 35vw;  
    }
    #franchise h3{
        font-size: 5.8vw;
    }
    #franchise p, #franchise section ul li{
        font-size: 4.3vw;
    }
    #franchise h5{
        font-size: 5vw;
    }
    #franchise .files{
        width: 95vw;
    }
    /*--------------------------------------------Contact page-------------------------------------------*/
#contact p{
    font-size: 6vw;
}
#contact h3{
    font-size: 7vw;
}
#contact h2{
    font-size: 8vw;
}
#contact h4{
    font-size: 6.75vw;
}
}
@media screen and (max-width:400px){
    #nlogo{
        margin-left: 10px;
    }
    #navul {
        margin-right: 10px;
    }
    #inlogo, #frlogo{
        height: 38vw;
    }
    #intro h3, #introabout h3, #introfranchise h3{
          font-size: 6.4vw;
    }
    #introabout h1{
        font-size: 8.6vw;
    }
    #introabout p{
        font-size: 5vw;
    }
    #aboutmore, #franchisemore{
        font-size: 4.75vw;
    }
    #introfranchise h2{
        font-size: 9.25vw;
        text-shadow: 0.18vh 0.18vh 0.18vh black;
    }
    /*--------------------------------------------Franchise page-------------------------------------------*/
    #franchise h2{
        font-size: 7.5vw;
    }
    #franchise .logo{
        height: 38vw;  
    }
    #franchise h3{
        font-size: 6.2vw;
    }
    #franchise p, #franchise section ul li{
        font-size: 5vw;
    }
    #franchise h5{
        font-size: 5.5vw;
    }
}
@media screen and (max-width:275px){

    #introabout h1{
        font-size: 7.5vw;
    }
    #intro h3, #introabout h3, #introfranchise h3{
        font-size: 7vw;
    }
    #introabout p{
        font-size: 6vw;
        padding: 5px 10px;
    }
    #aboutmore{
       margin-top: 5px;
    }
    #explorekey, #callkey{
        bottom: 5px;
    }
    #explorekey h5 ,#callkey h5{
        padding: 5px;
        font-size: 1rem;
    }
    #key, #call{
        height: 30px;
        width: 30px;
    }
}

/*-----------for landscape mode-------------*/
@media screen and (max-height:530px){
    #explorekey,#callkey{
        bottom: 5px;
        flex-direction: row;
    }
    #explorekey h5,#callkey h5{
        padding: 5px;
        font-size: 1rem;
    }
    #key,#call{
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-height:380px){
#secnavul{
    margin-top: 5px;
}
.secnavulli{
    padding: 5px 0px;
}
}
