*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(images/1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    animation: slider 20s infinite;
    overflow: auto;
}
body::before{
    content: "";
    position:fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    background:#013328b7;
    background-size: cover;
    background-attachment: fixed;
}
@keyframes slider{
    0% {
        background-image:url(images/1.jpg) ; 
    }

    20% {
        background-image:url(images/1.jpg) ; 
    }

    25% {
        background-image:url(images/2.jpg) ;  
    }

    45% {
        background-image:url(images/2.jpg) ;  
    }

    50% {
        background-image:url(images/3.jpg) ;  
    }
    70%{
        background-image:url(images/3.jpg) ;  
    }
    75%{
        background-image:url(images/4.jpg) ; 
    }
    95%{
        background-image:url(images/4.jpg) ; 
    }
    100%{
        background-image:url(images/1.jpg) ; 
    }
}
/*Navigation*/
#topnav{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: fixed;
    top: 0%;
    box-shadow: 0px 1px 10px black;
    background-color: #fff;
    z-index: 2;
}
#logocover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#logocover img{
    width: 200px;
    height: 60px;
    filter:saturate(1.5);
}
#topnavul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
}
.topnavli a{
    text-decoration: none;
    font-size: 1.4rem;
    color:rgb(42, 140, 253) ;
    text-shadow: 0.8px 0.8px 1px  black;
}
.topnavli a:hover{
    color:rgb(0, 0, 0) ;
    text-shadow: none;
}
.fa-bars{
    color: rgb(42, 140, 253) ;  
    margin-right:30px ;
    display: none; 
   
  }
  .fa-bars:hover{
      color: rgb(0, 0, 0);
      zoom: 1.1;   
    }
 /*second navigation*/
#secnav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.842); 
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secnavli{
    list-style: none;
    padding: 15px;
    border-bottom: 2px solid white;
    text-align: center;
}
.secnavli a{
    text-decoration: none;
    font-size: 1.4rem;
    color:white ;  
}
.secnavli a:hover{
    color:rgb(255, 152, 178) ;
}
#secnav h1{
    font-size:1.5rem ;
    position: absolute;
    left: 2%;
    top: 1.5%;
    color: rgb(255, 0, 119);
    z-index: 15;
    border-bottom: 2px solid rgb(255, 0, 119);
    padding: 5px; 
}
.fa-times{
    position: absolute;
    right: 5%;
    top: 4%;
    color: white;
    z-index: 15;
    border: 2px solid white;
    padding: 5px;
}
.fa-times:hover{
    color: rgb(255, 100, 100);
    border: 2px solid rgb(255, 100, 100);
}
/*Form*/
#ask{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 150px;
    align-items: center;
    overflow: auto;
}
form h1{
    color: #ffffff;
    font-size: 2rem;
}
form h4{
    color: #69fa41;
    font-size: 1.3rem;
    padding: 3px 0px;
}
form div {
    margin:10px 0px;
}
input{
    border: none;
    border-bottom: solid black 2px;
    background: none;
    outline: none;
}
input::placeholder,textarea::placeholder{
    color: #ffffff;
    font-weight: bold;
}
svg{
   width: 23.5px;
   margin-bottom: 30px;;
}
textarea{
    border: none;
    border-bottom: solid black 2px;
    background: none;
    outline: none;
    height: 50px;
}
#submit{
    background: rgb(255, 255, 255);
    padding: 3px 20px;
    border-radius: 20px;
    font-size: 1.3rem;
}
#contact{
    text-decoration: none;
    background-color: #ffffff;
    padding: 5px 20px;
    color: rgb(42, 140, 253);
    text-shadow: 0.8px 0.8px 1px  black;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5px 0px;
    
    box-shadow: 0px 2px 2px black;
}
.social{
    position: fixed;
    top: 50px;
    left: 2%;
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: space-evenly;
}
.social a i{
    height: 40px;
    width: 40px;
    background-color: white;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.65);
}
.social a i:hover{
    height: 42px;
    width: 42px;
}
/*footer*/
footer{
    width: 100vw;
    height: 40px;
    position:fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -1px 10px black;
}
footer h3{
  color: rgb(42, 140, 253) ;
  text-shadow: 0.8px 0.8px 1px  black;  
}
@media screen and (max-width: 1100px) {
    #topnavul{
        justify-content: flex-end;
    }
    .topnavli{
        display: none;
    }
    .fa-bars{
        display: block; 
      } 
   
}
@media screen and (max-width: 700px) {
   
    @keyframes slider{
        0% {
            background-image:url(images/1m.jpg) ; 
        }
    
        20% {
            background-image:url(images/1m.jpg) ; 
        }
    
        25% {
            background-image:url(images/2m.jpg) ;  
        }
    
        45% {
            background-image:url(images/2m.jpg) ;  
        }
    
        50% {
            background-image:url(images/3m.jpg) ;  
        }
        70%{
            background-image:url(images/3m.jpg) ;  
        }
        75%{
            background-image:url(images/4m.jpg) ; 
        }
        95%{
            background-image:url(images/4m.jpg) ; 
        }
        100%{
            background-image:url(images/1m.jpg) ; 
        }
    }
}
@media screen and (max-width: 450px) {
    form h1{
        color: #ffffff;
        font-size: 1.5rem;
    }
    form h4{
        color: #69fa41;
        font-size: 1.1rem;
        padding: 3px 0px;
    }
    .social{
        left: 0.5%;
    }
}